docs/
tsconfig.json
yarn.lock
.gitignore
src/

# demo
example/

# dependencies
node_modules/

# build config
rollup.config.js
webpack.config.js

# registry
.npmrc
.yarnrc

# TypeScript declaration files
typings/
types/
